<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${basedir}/Logs"/>

  <extensions>
    <add assembly="NLog.LiteDB"/>
  </extensions>
  <targets>
      <target name="liteDB" xsi:type="liteDBTarget"
              connectionString="filename=NLog.db"
              collectionName="DefaultLog">        
        <property name="ThreadID" layout="${threadid}" bsonType="Int32" />
        <property name="ThreadName" layout="${threadname}" />
        <property name="ProcessID" layout="${processid}" bsonType="Int32"  />
        <property name="ProcessName" layout="${processname:fullName=true}" />
        <property name="UserName" layout="${windows-identity}" />
      </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="liteDB" />
  </rules>
</nlog>
